@import './variables.scss';

/* define mixin */
// 单行省略
%ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
* 1px细线
* border-width-1px(top,right,bottom,left, border-color, border-radius);
* top,right,bottom,left 值为 1 或者 0;
* @include border-width-1px(0, 0, 2, 0, #f57c38);
*/
@mixin border-width-1px($border-width-top: 0, $border-width-right: 0, $border-width-bottom: 0, $border-width-left: 0, $border-color: $g-bordercolor, $border-radius: 0){
  position: relative;
  border-color: $border-color;
  border-width: #{$border-width-top}Px #{$border-width-right}Px #{$border-width-bottom}Px #{$border-width-left}Px; // ignored  postcss-pxtorem
  border-style: solid;
  box-sizing: border-box;
  @if $border-radius != 0{
    border-radius: $border-radius/2px * 1Px;
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    border: none;
    &::before{
      content: "";
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-color: $border-color;
      border-width: #{$border-width-top}Px #{$border-width-right}Px #{$border-width-bottom}Px #{$border-width-left}Px; // ignored  postcss-pxtorem
      border-style: solid;
      width: 200%;
      height: 200%;
      transform: scale(.5);
      transform-origin: 0 0;
      pointer-events: none;
      @if $border-radius != 0{
        border-radius: $border-radius;
      }
    }
  }
}

// 三角
@mixin arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  &.e-top {
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #ebeef5;
    &:after {
      top: 1px;
      margin-left: -6px;
      border-top-width: 0;
      border-bottom-color: #fff;
    }
  }
  &.e-left {
    top: 70px;
    left: -6px;
    border-left-width: 0;
    border-right-color: #ebeef5;
    &:after {
      left: 1px;
      margin-top: -6px;
      border-left-width: 0;
      border-right-color: #fff;
    }
  }
  &:after {
    content: " ";
    border-width: 6px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}

@mixin fix-fullscreen {
  position: fixed;
  z-index: 30;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

@mixin make-animation($keyframeName, $timingFun: $g-animation-timing-fun, $duration: $g-animation-duration) {
  .#{$keyframeName}-enter-active, .#{$keyframeName}-in,
  .#{$keyframeName}-leave-active, .#{$keyframeName}-out {
    animation-duration: $duration;
    animation-fill-mode: both;
    animation-timing-function: $timingFun;
  }
  
  .#{$keyframeName}-enter-active, .#{$keyframeName}-in {
    animation-name: #{$keyframeName}-in;
  }

  .#{$keyframeName}-leave-active, .#{$keyframeName}-out {
    animation-name: #{$keyframeName}-out;
  }
}